<div class ="contener_about">
    
    <div class = "header_about">
            <h1 style="text-align:center;">About Us</h1>
    </div>
    <div class ="body_about">
            <h2 style="color:tomato;">ARCHITECTURE </h2>
            <h2 style="color:tomato;"> OF SMARTER</h2>  
            <h2 style="color:tomato;">TECHNOLOGY</h2>
            
    <body>
        <p>Macrocomm is a <b>Level 1 Broad-Based Black Economic Empowerment</b> entity established in 2005 and founded on the values of integrity and professionalism. </p>
     
        <p>We place strong emphasis on understanding the needs of our customer and partner networks, and have developed a <b>comprehensive portfolio of products and
             solutions to address the critical challenges</b> facing organisations in today’s business environment. </p>
                                   
        <p>Our turnkey solutions are deployed by a team of experts across South Africa and the continent,
             thanks to our partnerships in key African countries. This partner ecosystem means we are ideally positioned to offer
              solutions for Smart City Management, Smart Industry and Energy Management Solutions. We are also accredited resellers of mobile, data, networking and infrastructure related products, either as stand-alone offerings or as part of our Internet of Things (IoT) portfolio.</p> 
                    
        <p>Macrocomm prioritises job creation through meaningful economic transformation
             and inclusive growth. With this in mind, each of our initiatives includes a job creation component. To date, we have created a number of NQF Level 4 jobs and have upskilled many government employees through our training and skills transfer programmes. Our dedication in this area has, furthermore allowed us to successfully execute several labour intensive projects over the years.</p>
                    
        <p><b>adheres to the highest health and safety standards, as evidenced by our NOSA accreditation.</b></p> 
    </body>
    </div>
</div>

