.contact_header {
    text-decoration: underline;
}
.message_header {
    text-align: center;
    text-decoration: underline;
}
.border {
    //position: center;
    border: 2px solid orangered;
    text-align: center;
    margin-left: 600px;
    margin-right: 400px;
    padding-right: 480px;
    padding-bottom: 400px ;
    
}
.box {
    position: absolute;
    text-align: center;
    border:2px solid orangered;
    padding: 12px;
  }
