<div class = "contact_header">
    <h1>Contant Us</h1>
</div>
<div class="box">
    <body>
            <details>
                    <summary> Macrocomm Office Details </summary><br>
                    <p> Program: Mon-Fri 08:00am to 17:00pm
                    <br> Address:Waterfall Point Office Park, Building 1,
                    <br> Waterfall Drive, Juksei Park
                    <br> Tel: 086 352 4875
                    <br> Email: reception@macrocomm.co.za 
                    </p> 
                    </details>
    </body>
</div>
<div class="message_header">
    <h2>Send a message</h2>
</div>
<div class="border">
    <body>
            <p>Title</p>
            <form action="mailto:someone@example.com" method="post" enctype="text/plain">
            <select>
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Ms">Ms</option>
              <option value="Prof">Prof</option>
              <option value="Ps">Ps</option>
            </select> 
    
              <br>
              Name: <br>
              <input type="text" name="fname"> <br>
              Surname: <br>
              <input type="text" name="surname">
              Email: <br>
              <input type="text" name="email">
             
            <p>Message:</p>
            <textarea cols="30" rows="7"></textarea>
            
            <input type="submit" value="Send Message">
            <input type="reset" value="Reset">
            </form>
    </body>    
</div>

