
<!--Global Nav bar-->
<div class="Helpdesk">
    <ul>
      <div class="logo">
          <a href="#">
              <img src="assets/img/deUser.png">
          </a>
      </div>  
      <li class="active"><a href="#">Home</a><i class="fa fa-home" aria-hidden="true"></i></li>
      <li><a href="#">About</a><i class="fa fa-users" aria-hidden="true"></i>
      <div class="sub-Helpdesk-1">
        <ul>
             <li><a href="#">About Us </a></li>
             <li><a href="#">Services </a></li>
             <li><a href="#">Contact Us </a></li>
        </ul>
      </div>
    </li>
      <li><a href="login">SingIn/SignUp</a><i class="fa fa-sign-in" aria-hidden="true"></i></li>
      <li><a href="#">
                <input type = "text">
                <i class="fa fa-search" aria-hidden="true"></i>
          </a>
      </li>
    </ul>
  </div>

<!--Login form-->
<form action="login">
    <div class = "form_bord">
        <div class = "header_Login">
            <img src="assets/img/deUsers.png">
            <h2 style ="margin:auto"> Please Login</h2>
        </div>
        <div class = "body_login">
                <input type = "text" placeholder = "Username">
                <input type = "Password" placeholder ="Password">
                <br>
                <a class = "Forget_password" href="url">Forget Password</a>
                <br>
                <input type="submit" href="registration" value="Sign In">
               <!--<a class = "signup"href="registration">Sign Up Here</a>--> 
                <input type="cancelation" value="Cancel">
        </div>
    </div>
</form>

