
<!--Login form-->
<form action="login">
    <div class = "form_bord">
        <div class = "header_Login">
            <img src="assets/img/deUsers.png">
            <h2 style ="margin:auto"> Please Login</h2>
        </div>
        <div class = "body_login">
                <input type = "text" placeholder = "Username">
                <input type = "Password" placeholder ="Password">
                <br>
                <a class = "Forget_password" href="url">Forget Password</a>
                <br>
                <input type="submit" href="registration" value="Sign In">
               <!--<a class = "signup"href="registration">Sign Up Here</a>--> 
                <input type="cancelation" value="Sign Up">
        </div>
    </div>
</form>

