
<!doctype html>
<html>
<head>

  <title>HelpDesk</title>
  
</head>
<body>
  <div class="Helpdesk">
    <ul>
      <div class="logo">
          <a href="#">
              <img src="assets/img/logo.png">
          </a>
      </div>  
      <li class="active"><a href="/">Home</a><i class="fa fa-home" aria-hidden="true"></i></li>
      <li><a href="about/">About</a><i class="fa fa-users" aria-hidden="true"></i>
      <div class="sub-Helpdesk-1">
        <ul>
             <li><a href="#">About Us </a></li>
             <li><a href="#">Services </a></li>
             <li><a href="#">Contact Us </a></li>
        </ul>
      </div>
    </li>
      <li><a href="login/">SingIn/SignUp</a><i class="fa fa-sign-in" aria-hidden="true"></i></li>
      <li><a href="search/">
                <input type = "text">
                <i class="fa fa-search" aria-hidden="true"></i>
          </a>
      </li>
      


    </ul>
     

  </div>    
</body>

</html>
<router-outlet></router-outlet>
